<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="connect">

    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">IPFS</div>
      </div>
    </div>


    <div class="page-content">

      <div class="row">
        <div class="col-100 tablet-50 center">

          <div class="block-title block-title-medium">IPFS Peers <span class="badge peers-badge color-blue">${connect.peerCount}</span></div>
          <div class="block list media-list peer-list">
            <ul>

              ${connect.peers.map( (peer) => $h`
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-subtitle no-wrap">
                      ${peer}
                    </div>
                  </div>
                </div>
              </li>
              `
              )}
            </ul>
          </div>

          <div class="block-title block-title-medium">IPFS Info</div>
          <div class="block list media-list">
            <ul>
              ${connect.ipfsInfo.addresses.map( (address) => $h`
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-subtitle no-wrap">
                      ${address}
                    </div>
                  </div>
                </div>
              </li>
              `
              )}
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title no-wrap">
                      <div class="item-header">Agent Version</div>
                      ${connect.ipfsInfo.agentVersion}
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title no-wrap">
                      <div class="item-header">ID</div>
                      ${connect.ipfsInfo.id}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="block-title block-title-medium">Add IPFS Peer</div>
          <div class="block list">
            <ul>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Peer Address</div>
                    <div class="item-input-wrap">
                      <input id="peerAddressInput" type="text" name="peerAddress" placeholder="Enter peer address"
                        required validate />

                      <div class="row">
                        <button class="button button-fill col-100 large-40" value="Add Peer" @click=${addPeerClick}>Add
                          Peer</button>
                      </div>

                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="block-title block-title-medium">Monitored Feeds</div>
          <div class="block list media-list peer-list">
            <ul>

              ${connect.subscribed.map( (sub) => $h`
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-subtitle no-wrap">
                      ${sub}
                    </div>
                  </div>
                </div>
              </li>
              `
              )}
            </ul>
          </div>


          ${metastoreInfos.map(metastoreInfo => $h`
            <div class="block-title">${metastoreInfo.name}</div>
            <div class="list media-list">
              <ul>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Write Access:</div>
                      </div>
                      <div class="item-text">${metastoreInfo.writeAccess.toString()}</div>
                    </div>
                  </div>
                </li>

                ${metastoreInfo.stores && metastoreInfo.stores.length > 0 ? $h`
                  
                  ${metastoreInfo.stores.map( (store) => $h`
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">${store.name} - <a @click=${dropStoreClick} data-metastore="${metastoreInfo.name}" data-store="${store.name}" >Drop</a></div>
                            <div class="item-after">Loaded: ${store.loaded}</div>
                          </div>
                          <div class="item-text">${store.address}</div>
    
                        </div>
                      </div>
                    </li>
                    `
                    )}

                ` : $h`
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">No stores defined</div>
                          </div>
                        </div>
                      </div>
                    </li>
                `}



              </ul>
            </div>
          `)}

        </div>
      </div>

    </div>

  </div>

</template>




<script>

  import { ConnectService } from "../../service/connect-service"
  import { UiService } from "../../service/ui-service"


  export default (props, { $, $on, $f7, $update }) => {

    const dropStoreClick = async (e) => {

      let metastoreService = props.container.get(MetastoreService)

      let metastore = $(e.target).data('metastore')
      let store = $(e.target).data('store')

      await metastoreService.dropStore(metastore, store)

      metastoreInfos = await metastoreService.getWalletMetastoreInfos()

      $update()

    }


    const addPeerClick = async (e) => {

      let connectService = props.container.get(ConnectService)
      let uiService = props.container.get(UiService)

      try {
        await connectService.addPeer($('#peerAddressInput').val())
      } catch(ex) {
        uiService.showPopup(ex)
      }

      //Refresh
      connect = await connectService.getConnectInfo()
      
      $update()
    }

    let connect = props.connect
    let metastoreInfos = props.metastoreInfos

    return $render
  }

</script>