<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="create-wallet-success">

        <div class="page-content">

            <div class="row">

                <div class="col-100 large-50 center">

                    <div class="block-title">
                        <i class="icon f7-icons">lock_shield_fill</i> This is your key phrase.
                    </div>

                    <div class="block block-strong inset">
                        <div class="row">

                            ${mnemonic.map( (word, index) => $h`
                                <div class="col-33 mnemonic">
                                    <div class="number">${index + 1}.</div>
                                    <div class="word">${word}</div>
                                </div>
                            `)}

                        </div>
                    </div>

                    <div class="block block-strong inset">
                        ${mnemonic.join(' ')}
                    </div>


                    <div class="block-title">Important</div>
                    <div class="block block-strong inset">
                        <p>
                            This 12 word secret phrase is how your account is accessed. It's important to keep
                            this phrase secret.
                        </p>

                        <p>
                            <strong>Write this phrase on a piece of paper</strong> and keep it in a secure
                            location.
                        </p>

                        <p>
                            <strong>WARNING:</strong> Don't ever tell anyone your secret phrase. Anyone with
                            this phrase can use it to access your account and make permanent changes. There is no
                            way
                            to recover lost key phrases.
                        </p>

                    </div>

                    <div class="block row">
                        <a class="button button-fill col-100 large-40" href="/createWalletDone">Got it</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</template>

<style>



.mnemonic {
  font-size: 13px;
  padding: 3px;
  margin-bottom: 3px;
}

.mnemonic .number {
  width: 20px;
  display: inline-block;
}

.mnemonic .word {
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
}

.sentence .word {
    margin-left: 10px;
    display: inline-block;
}


</style>

<script>
    export default (props, { $on, $f7, $update }) => {

        let mnemonic = props.mnemonic

        return $render;
    }
</script>