<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="wallet-landing">

        <div class="page-content">

            <div class="row">
                <div class="col-100 large-50 center">

                    <div class="block-title">New to ${appName}?</div>
                    <div class="block list media-list">
                        <ul>
                            <li>
                                <a href="/showCreateWallet">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">I'm new, let's get set up!</div>
                                            </div>
                                            <div class="item-text">Create a new wallet with a new seed phrase.</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/enterRecovery">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">I have a recovery seed phrase.</div>
                                            </div>
                                            <div class="item-text">Import your existing wallet using the 12 word
                                                recovery seed phrase.</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    ${showUnlock ? $h`

                        <form id="unlock-wallet-form" action="/unlockWallet">
                            <div class="block-title">Unlock Wallet</div>
                            <div class="block list">
                                <ul>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Password</div>
                                                <div class="item-input-wrap">
                                                    <input type="password" id="password" name="password"
                                                        placeholder="Enter password for stored wallet" required validate />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="block row">
                                <button class="button button-fill col-100 large-40" @click=${unlockClick}>Unlock</button>
                            </div>

                        </form>


                    ` : ``
                    }


                </div>

            </div>

        </div>

    </div>

</template>


<script>

    import { RoutingService } from "../../service/routing-service"


    export default (props, { $, $on, $f7, $update }) => {

        const unlockClick = (e) => {

            let routingService = props.container.get(RoutingService)

            routingService.submitForm(e, "#unlock-wallet-form", $)

        }

        let appName = props.appName
        let showUnlock = props.showUnlock

        return $render
    }
</script>